.chat {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  .messages {
    height: 100%;
    width: 300px;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: #f5f4f4;
  }

  .message-input {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    input {
      flex: 1;
      margin-right: 15px;
      border-bottom-color: #005fc7;
      background: white;

      &:disabled {
        border-bottom-color: #cccccc;
        cursor: not-allowed;
      }
    }

    button {
      padding: 0;
      border: none;
      outline: none;
      background: transparent;
      font-size: 30px;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
